@import "./common/index";
@import "./nav";
@import "./header";
@import "./footer";
@import "./base";

.homepage-hero {
	background-color: #theme.color[gray-lighter];
	padding: @gutter;
	margin-top: @gutter;

	h2 {
		margin-top: 0;
		margin-bottom: @gutter;
	}
	h1 {
		display: none;
	}
}
