<!DOCTYPE html>

<html lang="en" class="without-js">
<head>
  <title><%= title %> | Tow-Boot</title>
  <base href="<%= document_base %>" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/index.css" type="text/css" />
  <link rel="shortcut icon" type="image/png" href="favicon.png" />
  <meta property="og:image" content="logo/opengraph-image.png" />
  <script>
    var html = document.documentElement;
    html.className = html.className.replace("without-js", "with-js");
  </script>
</head>

<body>
  <header>
    <div>
      <h1><a href="./">Tow-Boot</a></h1>
      <nav>
        <ul>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <%= contents %>
  </main>

  <footer>
    <div>
      <nav>
        <ul>
          <li><a href="sitemap.html">Sitemap</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
